/* Create a css file, and link it to your html file.
Align the divs in the center of the page.
Give them each a class name.
Give them each a different color of your choice.
add, commit, push, pr, merge. */


body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

section {
  grid-area:2/2/3/3;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.purple {
  background-color: indigo;
}
